<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Suite" parallel="tests" thread-count="2">
  <test name="iOS Test">
    <classes>
      <class name="sample.iOSTest"/>
    </classes>
  </test> <!-- iOS Test -->
  
  <test name="Android Test">
    <classes>
      <class name="sample.AndroidTest"/>
    </classes>
  </test> <!-- Android Test -->
</suite> <!-- Suite -->

